<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/stylesheets/style.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <title>neugenre</title>
  </head>
  <body>
    <nav>
      <p id="logo">neugenre🎬</p>
      <div id="nav-links">
        <% if (user) { %>
        <a href="/logout">Log out</a>
        <% } else { %>
        <a href="/auth/google">Log in with Google</a>
        <% } %>
      </div>
    </nav>
  </body>
</html>
