<%- include('./partials/header') %>

<!--hero-->
<section id="hero-ctr">
  <h1>neugenre</h1>
  <button>
    <a id="start-searching-btn" href="#search">start searching</a>
  </button>
</section>

<!--search-->
<section id="search">
  <h2>Search for a film</h2>
  <div class="row">
    <input type="search" />
    <input type="submit" value="Search" />
  </div>
</section>

<!--about-->
<section id="about">
  <h2>About neugenre</h2>
</section>

<%- include('./partials/footer') %>
