<%- include('./partials/header') %>

<div class="heading-ctr">
  <h1>neugenre</h1>
  <button>
    <a id="start-your-search" href="#search">
      <img src="../images/down.png" class="down-icon" />
      start searching
      <img src="../images/down.png" class="down-icon" />
    </a>
  </button>
</div>

<%- include('./partials/footer') %>
